.fondo{
	background-color: #103754;
	color: #FECE8C;
}
.img{
	width: 300px;
	height: auto; 
	border: solid 4px white;
	border-radius: 100%;	
}
.inicio{
	width: 100%;
	height: 400px;
	background-image: url(img/carro1.jpg);
	background-size:cover;
	text-align: center;
	color:white;
}
.formulario{
	width: 50%;
	background-color: rgba(0,0,0,0.5);
	padding:50px;
	margin: 10px;
	border-radius:50px;
	border: solid 2px white;
}